* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, textarea {
  font: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.blue {
  background-color: #007bff;
}

.teal {
  background-color: #17a2b8;
}

.green {
  background-color: #28a745;
}

.yellow {
  background-color: #6610f2;
}

.red {
  background-color: #dc3545;
}
